= simple_form_for(@invoice) do |f|
  = f.error_notification

  .inputs
    = f.input :discount1
    = f.input :discount2
    = f.input :discount3
    = f.input :client_legal_name
    = f.hidden_field :client_id 
    = f.input :paid_concept
    .formulario
      %div.autoselect
        = f.collection_select :service_ids, Service.all, :id, :description, {include_blank: true}, {class: :hidden}
    %a#add{:href => "#"} Add_services
  .actions
    = f.button :submit
