= form_for @client do |f|
  -if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :legal_name
    = f.text_field :legal_name
  .field
    = f.label :trade_name
    = f.text_field :trade_name
  .field
    = f.label :nif
    = f.text_field :nif
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :telephone
    = f.number_field :telephone
  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Save'
